/* All comments made to this file are for "remembrance" purposes or others */
/* Note: Best with the help of Chrome DevTools*/

/* for easy distinction of
different elements/components
for div tag */
/* div {
  border:1px solid rgba(17, 185, 183, 0.719);
} */

:root {
  --background: rgba(#0ea5a3);
  --my-test-new-bg: rgba(#272727);
  --bg-gradient: linear-gradient(135deg, #0f172a, #1e293b, #1a1946, #1e0720);
  --text: #e6eef6;
  --muted: #94a3b8;
  --accent: #0ea5a3;
  --highlight: #1bdaf3;
}

* {
  box-sizing: border-box;
  text-wrap: wrap;
}

/* font stylings */
/* @font-face {
  font-family: 'MyCustomFont',;
  src: url();
} */
/* h1, h2, h3, h4 {
  font-family: mont;
} */

html, body {
  width: 100%;
  max-width: 100%;
}

html {
  /* font-size: 16px; */ /* for use with rem */
  height: 100vh;
  height: 100dvh;
  height: -webkit-fill-available;
  background: var(--bg-gradient); /* linear-gradient(135deg, #000428, #2c1a4d); */
  scroll-behavior: smooth; /* For smooth scrolling effect selecting items in navigations, except for another page links */
}
/* ---------------------------------------------------------------- */
/* Some tweaks for navigation selection */
#about, #projects {
  scroll-margin-top: 130px;
}
/* ---------------------------------------------------------------- */

body {
  font-family: 'Segoe UI', Tahoma;
  background: inherit;
  color: white;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: -webkit-fill-available;
  cursor: default; /* For the cursor, for Desktops, to not trigger its "Text Icon" mode */
  user-select: none; /* This property is useful for making the page non-selectable "???" */
}

/* Fill any viewport gaps on mobile */
body::after {
  content: '';
  position: fixed;
  top: 100vh;
  top: 100dvh;
  left: 0;
  width: 100%;
  height: 100%; /* value before 150px */
  background: linear-gradient(135deg, #000428, #0f091b);
  z-index: -1;
}
/* ==================================================================================== */
/* For Animations (still in testing) */
/* there's JS code reliance */


/* just for the blinking cursor */
.cursor {
  display: inline-block;
  background-color: #fff;
  margin-left: 1px;
  animation: cursorBlink 0.7s steps(1) infinite;
}
@keyframes cursorBlink {
  50% {
    opacity: 0;
  }
}

/* This is used */
@keyframes fadeIntoView {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}

/* ======================================================================================== */

.container {
  max-width: 100%;
  margin: 30px auto;
  padding: 80px 10px 28px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Navigation */
.nav-card a{
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.nav {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  position: fixed;
  margin: 0px auto;
  top: 15px;
  left: 0;
  right: 0;
  /* bottom: 15px; */ /* For setting as "bottom" navigation */
  z-index: 100;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  background: rgba(49, 46, 129, 0.5);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3); /* for nav's shadows */
  backdrop-filter: blur(10px);
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  gap: 12px;
  padding: 5px;
  width: 100%; /* Tip: use Calc function for easier calculations depending on screen size */
  max-width: 40%;

  opacity: 0;
  animation: fadeIntoView 1s ease forwards;
}
.nav a {
  padding: 12px;
  color: var(--muted);
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  transition: color 0.3s ease;
}
.nav a:hover {
  color: var(--accent);
}

.WIP {
  text-align: center;
  color: var(--muted);
  font-size: xx-large;
}
.bar {
  background: var(--muted);
  opacity: 40%;
  padding: 20px 1.5px;
}
/* Header */
.profile-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px auto;
  margin: 50px auto 50px;
  gap: 14px;
  align-items: center;
}

.photo {
  width: 200px;
  height: 200px;
  background: linear-gradient(135deg, var(--accent), #7c3aed);
  border-radius: 16px;
  font-weight: 700;
  color: white;
  font-size: 1.2rem;
  /* object-fit: cover; */
}
.header {
  align-items: center;
  justify-content: center;
  text-align: center;
}
#quote {
  font-style: italic;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  padding: 3%;
  max-width: 75%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  padding: 10px 30px; /* padding: top right bottom left */
  margin: 0px auto 10px;
  width: 500px;
  justify-content: center;
}

h2 {
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  padding: 10px 30px; /* padding: top right bottom left */
  margin: 0px auto 10px;
  /* width: fit-content; */
  justify-content: center;
}

h3, h4 {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  padding: 10px 15px; /* padding: top right bottom left */
  margin: 0px;
  width: fit-content;
}

.subtitle {
  color: var(--muted);
  margin-top: 6px;
  margin-bottom: 30px;
}

/* Layout */
.grid {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

/*----------------------------------------------------*/
/* .card for only just for the card layout */
.card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 24px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  padding: 25px;
}

.content-box {
/*   background: rgba(255, 255, 255, 0.05);
  border-radius: 24px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3); */
  max-width: 70%;
  padding: 25px;
  margin: 4px auto;
}

.content-box li {
  margin: 6px 0px;
}

/*----------------------------------------------------*/
/* Content Elements */
.content-box-divider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content-box-divider .currently-learning-container {
  flex: 1;
}
.content-box-divider .right {
  justify-content: center;
  content-visibility: visible;
  flex: 1;
  width: 100%;
  height: 100%;
}

.currently-learning-container {
  padding: 1px;
  text-align: center;
}
.chip-info {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  max-height: fit-content;
}

.p-emphasis {
  padding: 10px 0px;
  margin: 0px 0px; /* before: margin: 0px 20px; */
  font-weight: bold;
}
.chip-container {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0; /* padding: top right bottom left */
  justify-content: center;
}
.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
/*   min-width: 80px;
  max-width: 120px; */
  height: 30px;
  width: fit-content;
  padding: 0 8px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 999px;
  margin: 6px 0 0 0;
  font-size: 0.92rem;
  font-weight: 500;
  gap: 6px;
  white-space: nowrap;
  box-sizing: border-box;
  transition: ease 0.2s, box-shadow 0.2s, transform 0.3s;
}
.chip:hover {
  cursor: pointer;
  background: rgba(14, 165, 163, 0.15);
  box-shadow: 0 0 20px rgba(17, 185, 183, 0.719);
  transform: scale(1.05);
}
.chip:not(:hover) {
  transition: ease 0.2s, box-shadow 0.2s, transform 0.3s;
}
.chip.active {
  background: rgba(14, 165, 163, 0.15);
  box-shadow: 0 0 20px rgba(17, 185, 183, 0.719);
  transform: scale(1.05);
}
.chip-icon {
  width: 23px;
  height: 23px;
  margin-right: 4px;
  flex-shrink: 0;
  display: inline-block;
  object-fit: contain;
}


.content-box .item {
  background: rgba(255, 255, 255, 0.05);
  border-left: 7px solid var(--accent);
  box-shadow: #000428;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3); /* the inherit value is useful for inheriting values from the parent class (If I'm correct) (from
  .content-box {}) */
  border-radius: 16px;
  padding: 10px 12px;
  margin: 5px;
  transition: ease 0.2s, box-shadow 0.2s, transform 0.3s;
}
.content-box .item:hover {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  padding: 10px 16px; /* padding: top right bottom left */
  margin: 10px 0;
  box-shadow: 0 0 20px rgba(17, 185, 183, 0.719);
  transform: scale(1.01);
}
/* opposite of :hover is just use :not(:hover) */
.content-box .item:not(:hover) { 
  transition: ease 0.2s, box-shadow 0.2s, transform 0.3s;
}

.skills-container ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.skills-container summary {
  list-style-type: none;
  font-weight: bold;
}

/* ---------------------------------------------------------------------- */

.interests-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.interests-container li{
  font-weight: 500;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 6px 35px;
  transition: box-shadow 0.2s, transform 0.3s, background-color 0.3s;
}
.interests-container li:hover {
  background: rgba(14, 165, 163, 0.15);
  box-shadow: 0 0 20px rgba(17, 185, 183, 0.719);
  transform: scale(1.05);
}
/* ---------------------------------------------------------------------- */

/* details .details-content {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease,
              opacity 0.3s ease;
}


details[open] .details-content:hover {
  max-height: 100%;
  opacity: 1;
} */
/* ---------------------------------------------------------------------- */
.contact-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  


/*   display: flex;
  flex-direction: column; */
}

.contact-container li {
  overflow: hidden;
  margin: 0px auto 0px;
  padding: 5px;
  width: 278px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.contact-icon {
  width: 46px;
  height: 46px;
  margin-right: 0px;
  flex-shrink: 0;
  display: inline-block;
  object-fit: contain;
}
.contact-info-container {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 15px;
  overflow: hidden;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  max-width: 278px;
  height: 60px;
  width: 100%;
  padding: 10px 15px;
  margin: 0px 0 0 0;
  font-size: 0.92rem;
  font-weight: 500;
  gap: 6px;
  white-space: nowrap;
  box-sizing: border-box;
  transition: box-shadow 0.2s, transform 0.3s;
}
.contact-info-container .contact-info-text {
  text-align: left;
  display: inline-flex;
  flex-direction: column;
}
.contact-info-container:hover {
  box-shadow: 0 0 20px rgba(17, 185, 183, 0.719);
  transform: scale(1.05);
}

/* ---------------------------------------------------------------------- */

/* Links */
a {
  color: var(--accent);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
  color: var(--highlight);
  transition: color 0.3s ease;
}

/* Footer */
footer {
  margin-top: 26px;
  text-align: center;
  color: var(--muted);
  padding-bottom: 40px;
}

/* Responsive */
@media (max-width: 375px) {
  .nav {
    max-width: 80%;
  }
  .container {
    max-width: 100%;
    /* padding: 60px 10px 28px; */
  }

  .content-box {
    max-width: 100%;
  }

  .interests-container li {
    display: flex;
  }

  .contact-container li {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    
  }
  .contact-container {
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .contact-info-container {
    margin: 0px auto;
    width: 260px;
    gap: 5px;
  }

  .contact-info-text {
    content-visibility: visible;
  }

  .content-box-divider {
    display: flex;
    flex-direction: column;
  }
}
/* This enclosed part is for mobile devices. */

@media (max-width: 320px) {
  .nav {
    max-width: 80%;
  }
  .container {
    margin: 0;
    padding: 80px 0;
    gap: 4px;
    max-width: 100%;
    /* padding: 80px 10px 28px; */
  }

  .content-box  {
    max-width: 100%;
    margin: 10px auto;
  }

  .contact-container li {
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    padding: 5px;
  }
  .contact-container {
    margin: 0px auto;
  }

  .contact-info-container {
    max-width: fit-content;
    gap: 0px;
  }

  .contact-info-text {
    content-visibility: hidden;
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 100%;
    margin: auto;
  }
  .contact-container li {
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    padding: 5px;
  }
  .contact-info-container {
    max-width: fit-content;
    gap: 0px;
  }
  .contact-info-text {
    content-visibility: hidden;
  }
}

@media (max-width: 768px) {
  .header {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .nav {
    max-width: 80%;
  }


.content-box  {
    margin: 0 auto;
    max-width: 100%;
  }
  /* .container {
    margin: 0 auto;
    padding-top: 60px;
  } */

  .content-box-divider {
    display: flex;
    flex-direction: column;
  }
  
  .skills-container ul{
  display: grid;
  grid-template-columns: 100%;
  }
  
  .profile-section {
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
    gap: 10px;
    padding: 0 25px;
    margin: 25px auto;
    height: 230px;
  }
  .photo {
  width: 100px;
  height: 100px;
  /* object-fit: cover; */
}

  .contact-container {
    display: flex;
    flex-direction: column;
    grid-template-columns: 100%;
    gap: 0px;
  }
  .contact-container li {
    gap: 3px;
  }

  .contact-info-container li {
    margin: 0;
    padding: 0;
    gap: 6px;
  }

  .interests-container {
    display: grid;
    grid-template-columns: 100%;
  }
}
/* ----------------------------------------------------------------- */
/* For certifications.html */

.certs-body {
  max-width: 980px;
  margin: 30px auto;
  padding: 40x 28px 28px;
}
.certs-container {
  text-align: center;
  padding: 10px;
}

.seminars-container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}
.pdf-viewer {
  justify-content: center;
  align-items: center;
}

/* .pdf-viewer iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
} */

/* ----------------------------------------------------------------- */
/* For projects.html */
.projects-container {
  padding: 10px;
}

/* ----------------------------------------------------------------- */