---
import TechStackChip, {
    TechnologyType,
    type Technology,
} from "../reusables/TechStackChip.astro";

// Programming Language Icons
import JavaIcon from "../../../public/assets/icons/java.svg";
import DartIcon from "../../../public/assets/icons/dart.svg";
import CSharpIcon from "../../../public/assets/icons/csharp.svg";
import CPlusPlusIcon from "../../../public/assets/icons/cpp.svg";
import JavaScriptIcon from "../../../public/assets/icons/javascript.svg";
import TypeScriptIcon from "../../../public/assets/icons/typescript.svg";

// Framework Icons
import FlutterIcon from "../../../public/assets/icons/flutter.svg";
import ReactIcon from "../../../public/assets/icons/react.svg";
import ReactNativeIcon from "../../../public/assets/icons/reactnative.svg";
import ExpoIcon from "../../../public/assets/icons/expo.svg";
import AstroIcon from "../../../public/assets/icons/astro.svg";

// Web Technology Icons
import HTMLIcon from "../../../public/assets/icons/html.svg";
import CSSIcon from "../../../public/assets/icons/css.svg";

// Tool Icons
import VSCodeIcon from "../../../public/assets/icons/vscode.svg";
import GithubIcon from "../../../public/assets/icons/github.svg";

const programmingLanguages: Technology[] = [
    {
        name: "Dart",
        icon: DartIcon,
        type: TechnologyType.progLang,
    },
    {
        name: "C#",
        icon: CSharpIcon,
        type: TechnologyType.progLang,
    },
    {
        name: "C++",
        icon: CPlusPlusIcon,
        type: TechnologyType.progLang,
    },
    {
        name: "Java",
        icon: JavaIcon,
        type: TechnologyType.progLang,
    },
    {
        name: "JavaScript",
        icon: JavaScriptIcon,
        type: TechnologyType.progLang,
    },
    {
        name: "TypeScript",
        icon: TypeScriptIcon,
        type: TechnologyType.progLang,
    },
];
const frameworks: Technology[] = [
    {
        name: "Flutter",
        icon: FlutterIcon,
        type: TechnologyType.framework,
    },
    {
        name: "React",
        icon: ReactIcon,
        type: TechnologyType.framework,
    },
    {
        name: "React Native",
        icon: ReactNativeIcon,
        type: TechnologyType.framework,
    },
    {
        name: "Expo",
        icon: ExpoIcon,
        type: TechnologyType.framework,
    },
    {
        name: "Astro",
        icon: AstroIcon,
        type: TechnologyType.framework,
    },
];
const webTechnologies: Technology[] = [
    {
        name: "HTML",
        icon: HTMLIcon,
        type: TechnologyType.webTech,
    },
    {
        name: "CSS",
        icon: CSSIcon,
        type: TechnologyType.webTech,
    },
];
const tools: Technology[] = [
    {
        name: "Visual Studio Code",
        icon: VSCodeIcon,
        type: TechnologyType.tool,
    },
    {
        name: "Github",
        icon: GithubIcon,
        type: TechnologyType.tool,
    },
];

const programmingLanguagesSorted = [...programmingLanguages].sort((a, b) =>
    a.name.localeCompare(b.name),
);
const frameworksSorted = [...frameworks].sort((a, b) =>
    a.name.localeCompare(b.name),
);
const webTechSorted = [...webTechnologies].sort((a, b) =>
    a.name.localeCompare(b.name),
);
const toolsSorted = [...tools].sort((a, b) => a.name.localeCompare(b.name));
---

<section>
    <h2>Tech Stack</h2>
    <div class="divided-content">
        <div class="tech-stack-container">
            <h4>Programming Languages</h4>
            <div class="chips-container">
                {
                    programmingLanguagesSorted.map((programmingLanguage) => (
                        <TechStackChip
                            data={{
                                name: programmingLanguage.name,
                                icon: programmingLanguage.icon,
                                type: programmingLanguage.type,
                            }}
                        />
                    ))
                }
            </div>

            <h4>Frameworks</h4>
            <div class="chips-container">
                {
                    frameworksSorted.map((framework) => (
                        <TechStackChip
                            data={{
                                name: framework.name,
                                icon: framework.icon,
                                type: framework.type,
                            }}
                        />
                    ))
                }
            </div>

            <h4>Web Technologies</h4>
            <div class="chips-container">
                {
                    webTechSorted.map((webTech) => (
                        <TechStackChip
                            data={{
                                name: webTech.name,
                                icon: webTech.icon,
                                type: webTech.type,
                            }}
                        />
                    ))
                }
            </div>

            <h4>Tools</h4>
            <div class="chips-container">
                {
                    toolsSorted.map((tool) => (
                        <TechStackChip data={{
                            name: tool.name,
                            icon: tool.icon,
                            type: tool.type
                        }} />
                    ))
                }
            </div>
        </div>

        <!-- <div class="right">
        </div> -->
    </div>
</section>

<style>
    .divided-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .divided-content .tech-stack-container {
        flex: 1;
    }
    .divided-content .right {
        justify-content: center;
        content-visibility: visible;
        flex: 1;
        width: 100%;
        height: 100%;
    }

    .tech-stack-container {
        padding: 1px;
        text-align: center;
    }
    .chip-info {
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        max-height: fit-content;
    }

    .p-emphasis {
        padding: 10px 0px;
        margin: 0px 0px; /* before: margin: 0px 20px; */
        font-weight: bold;
    }
    .chips-container {
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
        padding: 0; /* padding: top right bottom left */
        justify-content: center;
    }
    /* To be remove related styling to .chip as it is not used */
    .chip {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        /*   min-width: 80px;
  max-width: 120px; */
        height: 30px;
        width: fit-content;
        padding: 0 8px;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 250px;
        margin: 6px 0 0 0;
        font-size: 0.92rem;
        font-weight: 500;
        gap: 6px;
        white-space: nowrap;
        box-sizing: border-box;
        transition:
            ease 0.2s,
            box-shadow 0.2s,
            transform 0.3s;
    }
    .chip:hover {
        cursor: pointer;
        background: rgba(14, 165, 163, 0.15);
        box-shadow: 0 0 20px rgba(17, 185, 183, 0.719);
        transform: scale(1.05);
    }
    .chip:not(:hover) {
        transition:
            ease 0.2s,
            box-shadow 0.2s,
            transform 0.3s;
    }
    .chip.active {
        background: rgba(14, 165, 163, 0.15);
        box-shadow: 0 0 20px rgba(17, 185, 183, 0.719);
        transform: scale(1.05);
    }
    .chip-icon {
        width: 23px;
        height: 23px;
        margin-right: 4px;
        flex-shrink: 0;
        display: inline-block;
        object-fit: contain;
    }
</style>

<script src="../../scripts/techStackInfo.ts"></script>
