---
import Navigation from "../components/reusables/Navigation.astro"
import NavigationItem from "../components/reusables/NavigationItem.astro"
import Card from "../components/reusables/NoCard.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <Navigation>
        <NavigationItem link="/" title="Home" icon="home-rounded" />
    </Navigation>
    <Card>
        <h1>Coming Soon...</h1>
    </Card>
</Layout>